/* Login.css */

.login-page {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  height: 500px;
  margin-top: 95px;
}



.info-section {
  background-image: url("../background.jpeg");
  background-size: cover;
  background-position: center;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

.form-box {
  background: rgba(255, 255, 255, 0.386);
}